HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/




operator_logs.txt
/Cont.dat
/controls.dat
/Controls.txt
/Controls1.dat
/testfile1.txt
/testfile2.txt
/testfile3.txt
/sensors.dat
